body{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

////////////////TAG SELECTORS////////////////

h1{
    margin: 0 50px;
    padding-top: 50px;
    font-family: 'Comic Neue', cursive;
    font-weight: lighter;
    font-size: 8.625rem;
    color: #3b6978;   
}

h2{
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.5rem;
    color: #3b6978;
    padding-bottom: 20px;
}
    
h3{
    font-family: 'Alegreya Sans', sans-serif;
    
}

//////////////////TOP CONTAINER////////////

.top{
    background-color: #cff1ef;
    height: 100vh;
    padding: 200px 10px;
    padding-bottom: 0;
    width: 100%;
  
    p{
        color: #3b6978;
        font-size: 2rem;
        margin: 0 15rem;
    }h1,p{
        position: relative;
        z-index: 2;
      }
    img{
        width: 50%;
        margin-top: 100px;
        position: absolute;
        mix-blend-mode: multiply;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

/////////////////////MIDDLE CONTAINER/////////////////

.middle{
   // background-color: #3b6978;
    margin-top: 40px;
    width: 100%;
   
    align-items: center; 
       
.profile{
        width: 50%;
        display: inline-flex;

        text-align: center;
       
     img{
        height: 200px;
        width: 200px;
        border-radius: 100px;
        object-fit: cover;
        object-position: top;     
      } 
p{
    font-size: large;
    width: 50%;
    margin: 20px 50px;
}
}
}

.skills{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    img{ 
        
        height: 200px;
        width: 200px;
        border-radius: 100px;
        object-fit: cover;
        margin-top: 100px;
    }
}
.skill-row{
        height: auto;
        width: 50%;
        h2{
            width: 100%;
          }
    h3,p{
        color: #3b6978;
      
        font-size: large;  
    }
}

////////////////////BOTTOM CONTAINER///////////

.contact-me{
    width: 100%;
   text-align: center;
    a{
        border: 1px solid #3b6978 ;
        border-radius: 4px;
        padding: 4px 8px;
        background-color:  #204051;
        text-decoration: none;
        color: #cae8d5;
        font-size: large;
        font-weight: bold;
        font-family: 'Alegreya Sans', sans-serif;
        transition-duration: 0.4s;
    }
    a:hover{
        background-color: #cae8d5;
        color:  #204051;
    }

    h3{
        color: #3b6978;
        padding-bottom: 10px;
        margin-top: 0;
    }
}

hr{
    border: none;
    border-top: 8px dotted grey  ;
    width: 10%;
    padding: 20px;

}

.bottom{
    background-color:#204051 ;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    a{
        padding: 0 30px;
        color: #cae8d5;
        text-decoration: none;
        font-family: 'Alegreya Sans', sans-serif;
        transition-duration: 0.2s;
        opacity: 0.6;
      
    }
    a:hover{
        color: #f6f6f6;
        opacity: 1;
    }
    p{  
        font-family: 'Alegreya Sans', sans-serif;
        margin-bottom: 0;
        color:#f6f6f6;
        font-size: 0.75rem;
    }
    
}.footer{
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;

    }
}

.top-links{
    background-color: #cff1ef;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    width: 100%;
    
.header{
    font-size: large;
    text-decoration: none;
    font-family: 'Alegreya Sans', sans-serif;
    padding: 30px;
    color: #3b6978;
    display: inline-flex;
    opacity: 0.6;
    transition-duration: 0.2s;
    }
    .header:hover{
        opacity: 1;
    }
    img{
        width: 30px;
        height: 30px;
        object-fit: cover;
        padding: 0 10px;
    }
}
