body{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

////////////////TAG SELECTORS////////////////

h1{
    font-family: 'Cookie', cursive;
    font-weight: lighter;
    font-size: 8.625rem;
    color: #3b6978;   
}

h2{
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.5rem;
    color: #3b6978;
}
    
h3{
    font-family: 'Alegreya Sans', sans-serif;
    
}

//////////////////TOP CONTAINER////////////

.top{
    background-color: #cff1ef;
    height: 100vh;
    padding-bottom: 0;
    font-size: 1vw;
    box-shadow: 0 0px 20px grey;
    p{  
        color: #3b6978;
        font-size: 2.8rem;
        padding: 0 10px;
        margin: 0;
    }
    h1{
        font-size: 10vw;
        margin-bottom: 0;
    }
    div{
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: right;
    }

    img{
        width: 50%;
        margin-top: 100px;
        position: absolute;
        mix-blend-mode: multiply;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

/////////////////////MIDDLE CONTAINER/////////////////

.middle{
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
       
.profile{
        width: 50%;
        display: flex;
        align-items: center;
    img{
        height: 200px;
        width: 200px;
        border-radius: 100px;
        object-fit: cover;
        object-position: top; 
        display: flex;
    }
    .row{
        display: flex;
        flex: 1;
        flex-direction: column;
        h3,p{
            color: #3b6978;
            font-size: large;  
        }
    }
    &:first-of-type{
        .row{
            text-align: right;
        }
    }
    &:nth-of-type(2){
        img{
            margin-left: 40px;
        }
    }
}



////////////////////BOTTOM CONTAINER///////////

.contact-me{
    width: 100%;
    text-align: center;
    margin-top: 0;
    a{
        border: 1px solid #3b6978 ;
        border-radius: 4px;
        padding: 4px 8px;
        background-color:  #204051;
        text-decoration: none;
        color: #cae8d5;
        font-size: large;
        font-weight: bold;
        font-family: 'Alegreya Sans', sans-serif;
        transition-duration: 0.4s;
    }
    a:hover{
        background-color: #ffffff;
        color:  #204051;
    }

    h3{
        color: #3b6978;
        padding-bottom: 10px;
        margin-top: 20px;
    }
}

hr{
    border: none;
    border-top: 8px dotted grey  ;
    width: 10%;
    margin: 20px 0;
    

}

.bottom{
    background-color:#204051 ;
    margin-top: 20px;
    padding: 30px 5px 10px 5px;
    text-align: center;
    a{
        padding: 0 30px;
        color: #cae8d5;
        text-decoration: none;
        font-family: 'Alegreya Sans', sans-serif;
        transition-duration: 0.2s;
        opacity: 0.6;
      
    }
    a:hover{
        color: #f6f6f6;
        opacity: 1;
    }
    p{  
        font-family: 'Alegreya Sans', sans-serif;
        margin-bottom: 0;
        color:#f6f6f6;
        font-size: 0.75rem;
    }
    
}.footer{
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        padding: 0 40px;

    }
}

.top-links{
    background-color: #3b6978;
    display: flex;
    left: auto;
    padding-right: 10px;
a{
    display: inline-flex    ;
    align-items: center;
    padding: 15px 20px;
    font-size: 1.4rem;
    text-decoration: none;
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    opacity: 0.6;
    transition-duration: 0.2s;
    }
    a:hover{
        opacity: 1;
    }
    img{
        width: 30px;
        height: 30px;
        object-fit: cover;
        padding: 0 10px;
    }
    a:first-of-type{
        margin-left: auto;
    }
}

.box{
    box-shadow: 10px 8px 20px grey;
    margin: 100px 100px 100px 100px;
    border-radius: 25px;
}